<router-outlet>
    <header>
     
        <div class="py-5 text-center">
            <h1>Ativos</h1>
        </div>
    </header>


    <main class="container">
        <div >
            <div class="ativos" >

                <li class="col-md-3 mb-2">
                    <a href="/cadastrar-totem">Totem</a>
                    <img src="assets/img/totem.jpg">
                </li>

                <li class="col-md-3 mb-2" >
                    <a href="/cadastrar-desktop">Desktop</a>
                    <img src="assets/img/desktop.png">
                </li>

                <li class="col-md-3 mb-2">
                    <a href="/cadastrar-laptop">Laptop</a>
                    <img src="assets/img/laptop.png">
                </li>

                <li class="col-md-3 mb-2">
                    <a href="/cadastrar-tablet">Tablet</a>
                    <img src="assets/img/tablet.png">
                </li>

                <li class="col-md-3 mb-2">
                    <a href="/cadastrar-celular">Celular</a>
                    <img src="assets/img/celular.png">
                </li>           
                
            </div>
        </div>
    </main>
</router-outlet>
